.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
/* from mike bostock example winkel tipel */
.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #222;
}

#slider{
    position: absolute;
    top: 700px;
    left: 60px;
}

label {
    position: relative;
    top: -640px;
    left: 615px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

#selectButton{
    position: relative;
    top: -350px;
    left: 460px;
    min-width: 190px;
    /*background-color: red;*/
    border: none;
    font-size: 16px;
    line-height: 2.5;
    color: black;
    text-align: center;
    justify-content: space-evenly;
    padding: 20px;
    cursor: pointer;
    transition-duration: 0.4s;
}

#selectButton:hover {
    background-color: #3e8e41;
}

#selectButton:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}